


html, body {
    height: 100%;
    font-family: MyFont;
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    align-items: center;
    justify-content: center;
}

.root-element{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FF6600;

}

.wrapper-button{
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: absolute;
    top: 0;

}

.bthReg{
    font-size: 5em;
    width: 400px;
    border-radius: 1.5em;
}

.bthMain, 
.bthLog,
.bth-save,
.bth-reset,
.bth-sign-in{
    font-size: 2em;
    width: 4em;
    border-radius: .5em;
}

.form{
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

[type]{
    width: 300px;
    margin-bottom: 1.2em;
    font-size: 1.5em;
    padding: .5em 0;
    border-radius: 1em;
    text-align: center;
}

.div-button{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bth-sign-in{
    display: none;
}
